@media only screen and (max-width: 1190px) {
  #container {
    width: 870px;
    background: #fff;
  }
  header {
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 640px;
    max-width: 870px;
    margin: 0px auto;
  }
  #logo {
    margin: 0px 130px;
    padding: 6px 0px;
  }
  .region-header {
    position: absolute;
    width: 400px;
    background: none;
    height: 100px;
    box-sizing: border-box;
  }
  #block-block-1 {
    height: 52px;
    position: absolute;
    width: 220px;
    right: 70px;
    top: 21px;
    overflow: hidden;
  }
  #block-block-1 span {
    display: block;
    font-size: 21px;
  }
  .ui-widget-content {
    width: 640px !important;
  }
  .ui-dialog .ui-dialog-content {
    margin: 0px auto;
    width: 480px !important;
  }
  .ui-widget-content textarea {
    margin-left: 0px;
    margin-top: 0px;
    width: 470px;
  }
  aside,
  #main-menu,
  #block-block-4,
  #block-search-form,
  #top-bg video {
    display: none;
  }
  #open-menu,
  #mobile-search,
  .region-header,
  #block-system-main-menu,
  #block-block-36 {
    display: block;
  }
  aside {
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 100px;
    left: 0px;
    z-index: 100;
    padding-bottom: 100px;
  }
  aside h2 {
    padding-left: 20px;
    font-size: 24px;
  }
  aside .menu li a {
    font-size: 18px;
    padding: 24px 40px 24px 100px;
  }
  article {
    margin-top: 100px;
  }
  #top-bg .content {
    background: none !important;
  }
  .region-footer {
    width: 870px;
  }
  footer .block {
    width: 50%;
  }

  #electro {
    background: url(../images/mobile/li1.png) no-repeat 20px center;
  }
  #metall {
    background: url(../images/mobile/li2.png) no-repeat 20px center;
  }
  #printing {
    background: url(../images/mobile/li3.png) no-repeat 20px center;
  }
  #eating {
    background: url(../images/mobile/li4.png) no-repeat 20px center;
  }
  #plastic {
    background: url(../images/mobile/li5.png) no-repeat 20px center;
  }
  #repearing {
    background: url(../images/mobile/li6.png) no-repeat 20px center;
  }
  #tyre-production {
    background: url(../images/mobile/li7.png) no-repeat 20px center;
  }
  #transport {
    background: url(../images/mobile/li8.png) no-repeat 20px center;
  }
  #manufacture {
    background: url(../images/mobile/li10.png) no-repeat 20px center;
  }
  #chemistry-production {
    background: url(../images/mobile/li9.png) no-repeat 20px center;
  }
  #electro:hover,
  .active-trail #electro {
    background: url(../images/mobile/li1h.png) no-repeat 20px center #0c94dd;
  }
  #metall:hover,
  .active-trail #metall {
    background: url(../images/mobile/li2h.png) no-repeat 20px center #0c94dd;
  }
  #printing:hover,
  .active-trail #printing {
    background: url(../images/mobile/li3h.png) no-repeat 20px center #0c94dd;
  }
  #eating:hover,
  .active-trail #eating {
    background: url(../images/mobile/li4h.png) no-repeat 20px center #0c94dd;
  }
  #plastic:hover,
  .active-trail #plastic {
    background: url(../images/mobile/li5h.png) no-repeat 20px center #0c94dd;
  }
  #repearing:hover,
  .active-trail #repearing {
    background: url(../images/mobile/li6h.png) no-repeat 20px center #0c94dd;
  }
  #tyre-production:hover,
  .active-trail #tyre-production {
    background: url(../images/mobile/li7h.png) no-repeat 20px center #0c94dd;
  }
  #transport:hover,
  .active-trail #transport {
    background: url(../images/mobile/li8h.png) no-repeat 20px center #0c94dd;
  }
  #chemistry-production:hover,
  .active-trail #chemistry-production {
    background: url(../images/mobile/li9h.png) no-repeat 20px center #0c94dd;
  }
  #manufacture:hover,
  .active-trail #manufacture {
    background: url(../images/mobile/li10h.png) no-repeat 20px center #0c94dd;
  }
  #block-menu-menu-devices-and-mats {
    margin-top: 20px;
    h2 {
      padding-left: 20px;
      font-size: 20px;
      font-family: Proxima Nova Black;
      width: 100%;
    }
  }
  #block-menu-menu-products {
    margin-bottom: 0;
    border-bottom: 1px solid #43aee7;

    & > .content > .menu > li {
      margin-bottom: 0;
      padding-bottom: 15px;
    }
  }
  #block-system-main-menu {
    .menu {
      margin-top: 0;
    }
    ul {
      background: #1d95da;
    }
  }
  #block-block-1 {
    overflow: visible;
    .ssilka,
    .autodialog {
      display: none;
    }
    .telegram-icon {
      position: absolute;
      left: 28px;
      top: 4px;
    }
    .whatsup-icon {
      position: absolute;
      left: 2px;
      top: 4px;
    }
    .max-icon {
      margin-right: 65px;
    }
  }
  #logo {
    width: 170px;
  }
}
@media only screen and (max-width: 890px) {
  #container,
  article {
    width: 100%;
  }
  #top-bg .content {
    padding: 30px 20px 0px 20px !important;
  }
  .front #top-bg .content {
    height: 430px;
  }
  article .block,
  .page-node-6 .contacts {
    padding: 0px 20px;
  }
  .not-front article iframe {
    margin-left: -20px;
    padding: 20px;
  }
  .region-content img {
    max-width: 100%;
    height: auto !important;
  }
  //.view-id-sertificate{ overflow-x: scroll;}
  #block-views-rash-i-obor-front-block .views-row,
  #block-custom-custom-mats-devices-for-front .item-list li {
    width: 50%;
  }
  .view-id-sfery img {
    width: 270px;
    height: auto;
  }
  .region-footer {
    width: 100%;
  }
  footer .block {
    width: 100%;
    float: none;
  }
  footer .block .content,
  footer .block h2 {
    padding: 0px 20px;
  }
  .bxslider_views_slideshow_main
    .bx-wrapper
    .bxslider-views-slideshow-main-frame-row
    .one-slide-wrapper {
    height: 400px;
    padding-top: 150px;
  }
  #block-block-35 {
    background-size: cover;
    line-height: 20px;
    p {
      margin-bottom: 5px;
    }
  }
  #block-views-sertificate-block .view-content,
  #block-views-sertificate-block-1 .view-content {
    width: 100%;
  }
  #block-block-31 .messengers {
    left: 266px;
  }
  footer {
    height: auto;
    .region-footer {
      padding-bottom: 40px;
    }
  }
}
@media screen and (max-width: 777px) {
  .content-left,
  .content-right {
    float: none;
    width: 100%;
    margin: 0px;
  }
  .bxslider_views_slideshow_main
    .bx-wrapper
    .bxslider-views-slideshow-main-frame-row
    .one-slide-wrapper {
    height: 300px;
    padding-top: 100px;
    h2 {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .bxslider_views_slideshow_main .bx-pager {
    bottom: 30px;
  }
  #block-block-35 {
    height: 200px;
  }
  #block-views-technologies-block .views-row {
    width: 100%;
    float: none;
    height: auto;
  }
  #block-views-news-block td {
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
    .views-field-field-news-image {
      float: left;
      margin-right: 20px;
    }
    &.col-2 .views-field-nid {
      left: 0;
    }
  }
  .mats-wrapper .row .column {
    width: 70%;
  }
  #block-views-sertificate-block,
  #block-views-sertificate-block-1 {
    padding: 60px 40px;
    background-size: cover;
  }
  #block-block-35 {
    background-color: #0c94dd;
    .content {
      padding-top: 60px;
      padding-left: 100px;
      box-sizing: border-box;
      padding-right: 60px;
      p {
        display: inline;
      }
    }
  }
  .bxslider_views_slideshow_main
    .bx-wrapper
    .bxslider-views-slideshow-main-frame-row
    .one-slide-wrapper {
    background-size: cover;
    padding: 70px 80px 0;
  }
  .bxslider_views_slideshow_main .bx-pager {
    width: 90%;
    left: 5%;
    .bx-pager-item a {
      margin: 0 10px;
    }
  }
  .bxslider_views_slideshow_main .bx-controls-direction .bx-prev {
    left: 35px;
  }
  .bxslider_views_slideshow_main .bx-controls-direction .bx-next {
    right: 35px;
  }
  .fast,
  .economy {
    padding: 0px 20% 40px 0px;
    background-size: 15% auto;
  }
  .quality,
  .eco-safe {
    padding: 0px 0 40px 20%;
    background-size: 15% auto;
  }
  aside {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 640px) {
  #modalContent,
  .ui-widget-content {
    left: 0px !important;
  }
  #block-views-sertificate-block,
  #block-views-sertificate-block-1 {
    padding: 60px 30px;
  }
  .region-header {
    height: 56px;
  }
}

@media only screen and (max-height: 1000px) and (max-width: 1190px) {
  .ui-dialog {
    position: absolute !important;
  }
}
@media only screen and (max-width: 667px) {
  header {
    height: 56px;
    min-width: 320px;
  }
  body {
    min-width: 320px;
  }
  #logo {
    transform: scale(0.6);
    margin-top: -18px;
    margin-left: 50px;
    margin-right: 0;
    z-index: 100;
  }
  #block-block-1 {
    transform: scale(0.6);
    top: 2px;
    right: 20px;
  }
  #open-menu {
    transform: scale(0.6);
    top: 12px;
  }
  #mobile-search {
    transform: scale(0.6);
    top: 12px;
    z-index: 100;
  }
  aside {
    top: 56px;
  }
  article {
    margin-top: 56px;
  }
  #modalContent {
    width: 100%;
  }
  .ctools-modal-content {
    min-width: 320px !important;
  }
  #block-block-36 .mobile-phone {
    display: block;
  }
  #block-views-use-block-1 .cols-2 .col-2 div,
  #block-views-use-block .cols-2 .col-2 div {
    width: 100%;
  }
  #block-views-use-block-1 .cols-2 .col-1,
  #block-views-use-block .cols-2 .col-1 {
    border-right: 0 none;
  }
  #block-views-use-block-1 .cols-2 .col-1,
  #block-views-use-block .cols-2 .col-1,
  #block-views-use-block-1 .cols-2 .col-2,
  #block-views-use-block .cols-2 .col-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 760px) {
  #top-bg .title {
    font-size: 25px;
  }
}
@media screen and (max-width: 560px) {
  .devices-wrapper {
    margin: 0 0 40px;
    .row {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 50px;
      text-align: center;
      .item-list {
        width: 100%;
      }
      .more {
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: 15px;
      }
    }
  }
  .mats-wrapper .row {
    .category-wrapper {
      width: 100%;
    }
    .column {
      width: 100%;
    }
    .more {
      position: relative;
      bottom: 0;
      left: 0;
      margin-top: 15px;
    }
  }
  .node-teaser-right h2 {
    max-height: inherit;
  }
  #block-block-35 .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bxslider_views_slideshow_main
    .bx-wrapper
    .bxslider-views-slideshow-main-frame-row
    .one-slide-wrapper
    h2 {
    margin-bottom: 20px;
  }
  #block-views-news-block td .views-field-field-news-image {
    float: none;
    width: 100%;
    margin: 0;
  }
  #block-views-news-block {
    .view-news .views-field-title h2 {
      margin: 10px 0;
    }
  }
  #block-views-news-block td {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  #block-block-21 .content {
    width: 100%;
  }
  .node-teaser-right {
    width: 100%;
  }
  #block-views-use-block .cols-2 td.col-1,
  #block-views-use-block .cols-2 td.col-2,
  #block-views-use-block-1 .cols-2 td.col-1,
  #block-views-use-block-1 .cols-2 td.col-2 {
    width: 100%;
    text-align: center;
    display: block;
    box-sizing: border-box;
    div.views-field-title,
    div {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }
  #block-views-sertificate-block,
  #block-views-sertificate-block-1 {
    .view-content {
      padding: 0;
    }
    .owl-carousel .owl-nav {
      display: none;
    }
    .owl-carousel .owl-dots {
      margin-top: 50px;
    }
  }
  #block-block-31 {
    .content {
      table {
        width: 100% !important;
      }
    }
  }
  #block-block-31 .messengers {
    left: auto;
    right: 15px;
    top: 50px;
  }
  #block-block-35 {
    background-image: none;
    .content {
      padding-top: 40px;
    }
  }
  .fast,
  .economy,
  .quality,
  .eco-safe {
    padding: 0 20% 40px 0;
    background-position: right top;
  }
  #block-block-35 {
    background-image: none;
    box-sizing: border-box;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  #block-block-1 {
    display: none;
  }

  #block-views-exp-use-block
    .views-exposed-form
    .views-exposed-widget
    #edit-technology,
  #views-exposed-form-use-block
    .views-exposed-form
    .views-exposed-widget
    #edit-technology {
    width: 100%;
  }
  #logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -17px;
  }
  .region.region-header {
    display: none;
  }
  #block-block-36 .social-icons {
    margin-right: 325px;
  }
}

@media (max-width: 768px) {
  .ui-dialog {
    top: 130px !important;
  }
  .ui-widget-content {
    width: 418px !important;
  }
  .ui-dialog .ui-dialog-content {
    width: 400px !important;
  }
  .autodialog-content .webform-client-form input {
    width: 377px;
  }
  .ui-widget-content textarea {
    width: 400px !important;
  }
  .autodialog-content .webform-client-form input.label_privacy_policy {
    position: absolute;
  }
  .label_privacy_policy .option {
    width: 300px !important;
    font-size: 14px;
    line-height: 20px;
    padding-left: 50px !important;
  }
  input[type="checkbox"].form-checkbox.error + label.option,
  input[type="checkbox"].form-checkbox.error + label.option a {
    padding: 0;
  }
  #views-slideshow-bxslider-1.views-slideshow-bxslider
    .bx-wrapper
    .bx-controls-direction
    a {
    display: none;
  }
  div.error,
  .error {
    width: 337px;
    font-size: 12px;
    font-weight: 600;
  }
  div.messages ul li {
    padding: 0;
    line-height: 25px;
  }
  .page-node-649 #top-bg .title {
    margin-top: 0.4em;
  }
  .page-404-sub-title {
    max-width: 400px;
    margin: 40px auto;
  }
  .page-404-text {
    max-width: 360px;
  }
  .page-404-block {
    flex-direction: column;
    gap: 20px;
    padding-left: 65px;
  }
  .page-404-block a {
    width: 50%;
    text-align: center;
  }
  #block-block-1 {
    display: none;
  }
  #logo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 420px) {
  .ui-widget-content {
    width: 398px !important;
  }
}
@media (max-width: 391px) {
  .autodialog-content .webform-client-form input {
    width: 314px;
  }
  .ui-widget-content textarea {
    width: 335px !important;
  }
  .label_privacy_policy .option {
    width: 265px !important;
  }
  .autodialog-content .webform-client-form input.webform-submit {
    margin: 0px 35px;
  }
  .ui-widget-content {
    width: 350px !important;
  }
  .ui-dialog .ui-dialog-content {
    width: 336px !important;
  }
}
@media (max-width: 361px) {
  div.error,
  .error {
    width: 268px;
  }
}
